body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

.calculator {
    border: 2px solid #ccc;
    padding: 10px;
    max-width: 300px;
    background-color: #000;
}
    
.display-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#display {
    flex: 1;
    height: 40px;
    font-size: 18px;
    text-align: right;
    margin-right: 5px;
    background-color: white; 
    color: black;
    padding: 5px;
    border: none;
    outline: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: #800080;
    border: 1px solid #800080; 
    color: white;
    cursor: pointer;
}

    button.operator {
        background-color: violet;
        border: 1px solid violet; 
    }

    button#clear,
    button#calculate {
       
        background-color: red; 
        border: 1px solid red;
    }

    button:hover {
        background-color: #ff1493;
    }
